<%= form_with model: word do |form| %>

<div>
  <%= form.text_field :title, placeholder: "Word title" %>
  <% word.errors.full_messages_for(:title).each do |message| %>
  <div><%=message%></div>
  <%end%>
</div>
<br>
<div>
  <%= form.text_area :description, placeholder: "Word description" %>
  <% word.errors.full_messages_for(:description).each do |message| %>
  <div><%=message%></div>
  <%end%>
</div>
<br>
<div>
  <%= form.submit %>
</div>

<% end %>

<%= link_to "Back", root_path%>