<%= stylesheet_link_tag("style") %>

<div class="">
  <h1><%= @word.title %></h1>
  
  <h4><%= @word.description %></h4>

</div>
  
<ul>
  <li><%= link_to "Edit", edit_word_path(@word), class: "btn btn-info" %></li>
  <li><%= button_to "Delete", word_path(@word),
  method: :delete, data: { "turbo-confirm": "Are you sure?" },
  class: "btn btn-danger mt-2" %></li>
  <li><%= link_to "Back", root_path, class: "btn btn-warning mt-2" %></li>
</ul>